### 4.1 数据清洗

4.1.1 缺失值的检测

缺失值用None或np.nan表示，统计标记为NaN

isnull();notnull

In [18]:
import pandas as pd
import numpy as np
df_na = pd.DataFrame({'Num1':[1, 2, None, 4],
                      'Num2':[5, 6, 7, 8],
                      'Num3':[9, 10, 11, 12],
                      'Num4':[13, 14, np.NaN, np.NaN]})
df_na

In [ ]:
pd.isnull(df_na) # 检测数据中是否包含缺失值

In [ ]:
pd.notnull(df_na) # 检测数据中是否为非缺失值

In [ ]:
def missing_values_table(df):
    # 计算每列包含缺失值的数量
    mis_val = df.isnull().sum()
    # 计算所有列缺失值比例
    mis_val_percent = df.isnull().sum() / len(df) * 100
    # 将数量和比例组合成DataFrame类的对象
    mis_val_table = pd.DataFrame({'数量':mis_val, '占比(%)':mis_val_percent})
    # 按照缺失值的数量降序排列
    mis_val_table_sorted = mis_val_table.sort_values('数量', ascending = False)
    return mis_val_table_sorted
missing_values_table(df_na) # 统计缺失值的数量和占比情况

4.1.2 缺失值的处理

1、删除缺失值

In [ ]:
df_na.dropna()

In [ ]:
df_na.dropna(thresh = 3)

2、填充缺失值

In [ ]:
import pandas as pd
import numpy as np
df_na = pd.DataFrame({'Num1':[1, 2, None, 4],
                      'Num2':[5, 6, 7, 8],
                      'Num3':[9, 10, 11, 12],
                      'Num4':[13, 14, np.NaN, np.NaN]})
df_na

In [ ]:
df_na.fillna(value = 66.0)

In [ ]:
# 计算Num1列的平均数，并保留一位小数
mean_num1 = round(df_na['Num1'].mean(), 1)
mean_num1

In [ ]:
# 计算Num4列的平均数，并保留一位小数
mean_num4 = round(df_na['Num4'].mean(), 1)
mean_num4

In [ ]:
df_na.fillna(value = {'Num1':mean_num1, 'Num4':mean_num4})

In [ ]:
df_na.fillna(method = 'ffill')

In [ ]:
df_na.fillna(method = 'bfill')

4.1.3 重复值的检测

In [1]:
person_info = pd.DataFrame({'name': ['张三', '李四', '王五', '赵六', '孙七'],
                           'age': [24, 23, 29, 22, 22, 27],
                           'height': [162, 165, 175, 175, 175, 180],
                           'gender': ['女', '女', '男', '男', '男', '男']})
person_info

NameError: name 'pd' is not defined

In [ ]:
person_info.duplicated()

4.1.4 重复值的处理

In [ ]:
person_info.drop_duplicates() # 删除重复值

4.1.5 异常值的处理

In [ ]:
def three_sigma(ser):
    mean_data = ser.mean()
    std_data = ser.std()
    rule = (mean_data - 3*std_data>ser) | (mean_data + 3*std_data<ser)
    index = np.arange(ser.shape[0])[rule]
    outliers = ser.iloc[index]
    return outliers

In [ ]:
df_obj = pd.read_csv(r'outliers_data.csv')
df_obj

In [ ]:
three_sigma(df_obj['A'])

In [ ]:
three_sigma(df_obj['B'])

In [ ]:
df_obj = pd.read_csv(r'example_data.csv')
df_obj.boxplot(column = ['A', 'B']) # 绘制箱形图

In [ ]:
def box_outliers(ser):
    # 对需要检测的数据集进行排序
    new_ser = ser.sort_values()
    # 判断数据的总数量是奇数还是偶数
    if new_ser.count() % 2 == 0:
        # 分别计算Q3、Q1、IQR
        Q3 = new_ser[int(len(new_ser) / 2):].median()
        Q1 = new_ser[:int(len(new_ser) / 2)].median()
    elif new_ser.count() % 2 != 0:
        Q3 = new_ser[int((len(new_ser)-1) / 2):].median()
        Q1 = new_ser[:int((len(new_ser)-1) / 2)].median()
    IQR = round(Q3 - Q1, 1)
    rule = (round(Q3+1.5*IQR, 1)<ser) | (round(Q1-1.5*IQR, 1) > ser)
    index = np.arange(ser.shape[0])[rule]
    # 获取包含异常值的数据
    outliers = ser.iloc[index]
    return outliers
box_outliers(df_obj['A'])

4.1.6 异常值的处理

In [ ]:
df_obj.replace(to_replace = 23, value = 3)

In [ ]:
df_obj.replace(to_replace = [23, 50], value = [3, 2])

4.1.7 转换数据类型

In [ ]:
df = pd.DataFrame({'A':['1', '1.2', '4.2'],
                  'B':['-9', '70', '88'],
                  'C':['x', '5.0', '0']})
df.dtypes

In [ ]:
df['B'].astype(dtype = 'int')

In [ ]:
ser_obj = pd.Sreies['1.5', '2.2', '3.8']
ser_obj

In [ ]:
pd.to_numeric(ser_obj)

In [ ]:
ser_obj[2] = 'problem'
pd.to_numeric(ser_obj)

In [ ]:
pd.to_numeric(ser_obj, errors = 'ignore')

In [ ]:
pd.to_numeric(ser_obj, errors = 'coerce')

### 4.2 数据合并

4.2.1 堆叠合并

concat()函数用于堆叠合并

1、横向堆叠与外连接，axis = 1且join = 'outer'，取并集

In [19]:
import pandas as pd
df1 = pd.DataFrame({'A':['A0', 'A1', 'A2'],
                    'B':['B0', 'B1', 'B2'],
                    'C':['C0', 'C1', 'C2']})
df2 = pd.DataFrame({'C':['C3', 'C4', 'C5','C6'],
                    'D':['D0', 'D1', 'D2', 'D3']})
result = pd.concat([df1, df2], join = 'outer', axis = 1)
result

     A    B    C   C   D
0   A0   B0   C0  C3  D0
1   A1   B1   C1  C4  D1
2   A2   B2   C2  C5  D2
3  NaN  NaN  NaN  C6  D3

2、纵向堆叠与内连接，axis = 0且join = 'inner'，取交集

In [20]:
import pandas as pd
df1 = pd.DataFrame({'A':['A0', 'A1', 'A2'],
                    'B':['B0', 'B1', 'B2'],
                    'C':['C0', 'C1', 'C2']})
df2 = pd.DataFrame({'C':['C3', 'C4', 'C5','C6'],
                    'D':['D0', 'D1', 'D2', 'D3']})
result = pd.concat([df1, df2], join = 'inner', axis = 0)
result

    C
0  C0
1  C1
2  C2
0  C3
1  C4
2  C5
3  C6

4.2.2 主键合并

merge()主键合并

In [21]:
import pandas as pd
left = pd.DataFrame({'key':['K0', 'K1', 'K2'],
                     'A':['A0', 'A1', 'A2'],
                     'B':['B0', 'B1', 'B2']})
right = pd.DataFrame({'key':['K0', 'K2', 'K3', 'K5'],
                     'A':['A0', 'A1', 'A2', 'A3'],
                     'C':['C0', 'C1', 'C2', 'C3']})
result = pd.merge(left = left, right = right, on = 'key')
result

  key A_x   B A_y   C
0  K0  A0  B0  A0  C0
1  K2  A2  B2  A1  C1

多个键合并

In [22]:
result = pd.merge(left = left, right = right, on = ['key', 'A'])
result

  key   A   B   C
0  K0  A0  B0  C0

In [23]:
import pandas as pd
left = pd.DataFrame({'key':['K0', 'K1', 'K2'],
                     'A':['A0', 'A1', 'A2'],
                     'B':['B0', 'B1', 'B2']})
right = pd.DataFrame({'key':['K0', 'K2', 'K3', 'K5'],
                     'A':['A0', 'A1', 'A2', 'A3'],
                     'C':['C0', 'C1', 'C2', 'C3']})
result = pd.merge(left = left, right = right, on = 'key', how = 'outer')
result

  key  A_x    B  A_y    C
0  K0   A0   B0   A0   C0
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2   A1   C1
3  K3  NaN  NaN   A2   C2
4  K5  NaN  NaN   A3   C3

In [24]:
result = pd.merge(left = left, right = right, on = 'key', how = 'left')
result

  key A_x   B  A_y    C
0  K0  A0  B0   A0   C0
1  K1  A1  B1  NaN  NaN
2  K2  A2  B2   A1   C1

In [25]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']})
left

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [26]:
right = pd.DataFrame({'C': ['C0', 'C1', 'C2'], 'D': ['D0', 'D1', 'D2']}, index = ['a', 'b', 'c'])
right

    C   D
a  C0  D0
b  C1  D1
c  C2  D2

In [27]:
result = pd.merge(left = left, right = right, how = 'outer', left_index = True, right_index = True)
result

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
a  NaN  NaN   C0   D0
b  NaN  NaN   C1   D1
c  NaN  NaN   C2   D2

4.2.3 根据索引合并

In [28]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']})
right = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                      'D': ['D0', 'D1', 'D2']}, index = ['a', 'b', 'c'])
result = left.join(right)
result

    A   B    C    D
0  A0  B0  NaN  NaN
1  A1  B1  NaN  NaN
2  A2  B2  NaN  NaN

In [29]:
result = left.join(right, how = 'outer')
result

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
a  NaN  NaN   C0   D0
b  NaN  NaN   C1   D1
c  NaN  NaN   C2   D2

In [30]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2'],
                     'key': ['K0', 'K1', 'K2']})
right = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                      'D': ['D0', 'D1', 'D2']},
                     index = ['K0', 'K1', 'K2'])
result = left.join(right, how = 'left', on = 'key')
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2

4.2.4 合并重叠数据

填充缺失数据

In [1]:
import pandas as pd
import numpy as np
from numpy import NAN
left = pd.DataFrame({'A': [np.nan, 'A0', 'A1', 'A2'],
                     'B': [np.nan, 'B1', np.nan, 'B3'],
                     'key': ['K0', 'K1', 'K2', 'K3']})
right = pd.DataFrame({'A': ['C0', 'C1', 'C2'],
                      'B': ['D0', 'D1', 'D2']},
                     index = [1, 0, 2])
left.combine_first(right)

    A   B key
0  C1  D1  K0
1  A0  B1  K1
2  A1  D2  K2
3  A2  B3  K3

### 4.3 数据重塑

4.3.1 重塑分层索引

In [33]:
df = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                   'B': ['B0', 'B1', 'B2']})
df

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [34]:
# 重塑df对象
result = df.stack()
result

0  A    A0
   B    B0
1  A    A1
   B    B1
2  A    A2
   B    B2
dtype: object

In [35]:
type(result)

pandas.core.series.Series

In [36]:
result.unstack()

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [ ]:
df = pd.DataFrame(np.array([[26, 20, 22, 26], [30, 25, 24, 20]]), 
                 index = ['男生人数', '女生人数'],
                 columns = [['一楼', '一楼', '二楼', '二楼'],
                           ['A教室', 'B教室', 'A教室', 'B教室']])
df.stack()

In [ ]:
df.stack(level = 0) # 旋转外层索引

4.3.2 轴向旋转

In [ ]:
df = pd.DaatFrame({'商品名称': ['荣耀9青春版', '小米6x', 'OPPO A1', 
                                '荣耀9青春版', '小米6x', 'OPPO A1',
                   '出售日期': ['2023年5月25日', '2023年5月25日',
                                '2023年5月25日','2023年6月18日',
                                '2023年6月18日','2023年6月18日']
                           ]})

### 4.4 数据转换

4.4.1 面元划分

In [2]:
ages = pd.Series([19, 21, 25, 55, 30, 45, 52, 46, 20])
bins = [0, 18, 30, 40, 50, 100]
# 使用cut()函数划分年龄区间
cuts = pd.cut(ages, bins)
print(cuts)

0     (18, 30]
1     (18, 30]
2     (18, 30]
3    (50, 100]
4     (18, 30]
5     (40, 50]
6    (50, 100]
7     (40, 50]
8     (18, 30]
dtype: category
Categories (5, interval[int64, right]): [(0, 18] < (18, 30] < (30, 40] < (40, 50] < (50, 100]]

4.4.2 哑变量处理

In [3]:
df1 = pd.DataFrame({'职业': ['工人', '学生', '司机', '教师', '导游']})
pd.get_dummies(df1, prefix = ['col_']) # 哑变量处理

   col__司机  col__学生  col__导游  col__工人  col__教师
0    False    False    False     True    False
1    False     True    False    False    False
2     True    False    False    False    False
3    False    False    False    False     True
4    False    False     True    False    False